page-settings {
	.splash-bg{
		margin-left: 20px;
 		margin-top: 25px;
 		position: absolute;
	}
	.shortcut-button{
		background-color: green;
		color: rgb(255,255,255);
	}
	.tb-head{
    color: rgb(255,255,255);
    background-color: green;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
}
