page-welcome {
  
    .toolbar-title{
      text-align: center;
    }
    .toolbar-background{
      background-color:#4B6BAD;
    }
    .splash-info {
      position: absolute;
      z-index: 2;
      margin-top: 70px;
      text-align: center;   
  
    }
    .splash-logo {
      margin-top: auto;
      margin-left: 40px; 
      background: url('../assets/img/Earth/logo.png');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 200px;
      height: 128px;
    }
    .splash-intro {
      font-size: 18px;
      font-weight: bold;
      color: rgb(255,255,255);
  
    }
  
    button.signup {
      margin-top: 240px;
      background-color: transparent;
      color: #ffffff;
      border:1px solid #ffffff;
      height: 35px;
      font-size: 14px;
  
      &.activated {
        background-color: transparent;
      }
      &.txt{
        color: rgb(255,255,255);
      }
    }
  
    button.login {
      margin-top: 15px;
      background-color: transparent;
      color: #ffffff;
      border:1px solid #ffffff;
      height: 35px;
      font-size: 14px;
  
      &.activated {
        background-color: transparent;
      }
      &.txt {
        color: rgb(255,255,255);
      }
    }
  
    button.fb-sign-in{
      margin-top: 15px;
      background-color: transparent;
      color: #ffffff;
      border:1px solid #ffffff;
      height: 35px;
      font-size: 14px;
  
      &.activated {
        background-color: transparent;
      }
      &.txt {
     color: rgb(255,255,255);
      }
    }
  
  }